{% extends 'base.html.twig' %}

{% block title %}Moje Artykuły{% endblock %}

{% block body %}
    <hr/>
    <h2>Moje Artykuły</h1>
    {% for article in articles %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h4><a href="{{ url("dashboard_article_details", {"id": article.id}) }}">{{ article.title }}</a></h5>
            <img src="/uploads/images/{{ article.image}}">
        </div>
    </div>
        <hr/>
    {% endfor %}
{% endblock %}
