{% extends 'base.html.twig' %}

{% block body %}

    <img src="/uploads/images/{{ article.image}}">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h2>{{ article.title }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ article.content }}</li>
                <li class="list-group-item">{{ article.published | date("d-m-y H:i") }}</li>
            </ul>
        </div>
        <hr/>
{% endblock %}
