{% extends 'base.html.twig' %}

{% block title %}Artykuły{% endblock %}

{% block body %}
    <div class="card-header">
        <a class="btn btn-primary" href="{{ url("website_article_add") }}">Dodaj artykuł</a>
    </div>
    <hr/>
    <h2>Artykuły</h1>
    {% for article in articles %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h4><a href="{{ url("website_article_details", {"id": article.id}) }}">{{ article.title }}</a></h5>
        </div>
    </div>
        <hr/>
    {% endfor %}
{% endblock %}
