<div class="card-header">
    <a class="btn btn-primary" href="{{ url("website_index") }}">Strona główna</a>
    <a class="btn btn-success" href="{{ url("dashboard_index") }}">Moje artykuły</a>
    <a class="btn btn-success" href="{{ url("dashboard_article_add") }}">Dodaj artykuł</a>
    <a class="btn btn-success" href="{{ url("fos_user_security_logout") }}">Wyloguj</a>
</div>
